@import "./utilities/variables";
@import "./utilities/animaciones";
@import "./base/reset";
@import "./layout/header";
@import "./layout/body";
@import "./layout/main";
@import "./layout/footer";
@import "./components/banners";
@import "./components/mediaquery";






