@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
    padding: 0;
    margin: 0;

}
h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}