body {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "banner"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
   
}
