.conteiner {
    width: 90%;
    margin: auto;
}
main {
    grid-area: main;
    background-color:$bkg-main;
}
//INICIO
.hero {
    max-width: auto;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.301),
            rgba(0, 0, 0, 0.13)),
        url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Macondo', cursive;
}
.sectionPrincipal {
    padding-top: 20px;
    padding-bottom: 50px;
    display: grid;
    grid-template-areas:
    "textH2 textH2"
    "articulo1 img1"
    "img2 articulo2"
    "articulo3 img3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    justify-items: center;
}
.textH2 {
    grid-area: textH2;
    text-align: center;
    padding-bottom: 25px;
}
.articulo1 {
    grid-area: articulo1;
    align-self: center;
    text-align: center;    
}

.img1 {
    grid-area: img1;
    justify-self: start;
    width: 100%;
}
.img2 {
    grid-area: img2;
    justify-self: end;
    width: 100%;
}
.articulo2 {
    grid-area: articulo2;
    align-self: center;
    text-align: center;
}
.articulo3 {
    grid-area: articulo3;
    align-self: center;
    text-align: center;
}
.img3 {
    grid-area: img3;
    justify-self: start;
    width: 100%;
}
.parrafo {
    padding-top: 20px;
    text-align: center;
}
//NOSOTROS
.heroNosotros {
    max-width: auto;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.301),
            rgba(0, 0, 0, 0.13)),
        url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Macondo', cursive;
}
.sobreNosotros {
    padding-bottom: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pnosotros {
    text-align: center;
    }
}
//PANIFICADO
.menuCarta {
    max-width: 500px;
    margin: auto;
    padding: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    .carta {
    border: 1px solid black;
    border-radius: 10px;
    } 
}
//PASTELERIA
.pasteleria {
    display: grid;
    grid-template-areas:
    "pPanificado pPanificado"
    "galeria1 galeria2"
    "galeria3 galeria4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    justify-items: center;
    gap: 30px;
    padding-bottom: 50px;
}
.cardConteiner {
    margin: auto;
    padding: 20px;
    width: 200px;
    height: 350px;
    border: 1px solid black;
    background-color: rgba(255, 166, 0, 0.205);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.pPasteleria {
    grid-area: pPanificado;
    padding-top: 50px;
    padding-bottom: 60px;
}
.pGaleria1 {
    grid-area: galeria1;
}
.pGaleria2 {
    grid-area: galeria2;
}
.pGaleria3 {
    grid-area: galeria3;
}
.pGaleria4 {
    grid-area: galeria4;
}
//CONTACTO
.contacto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}