.conteiner {
    width: 90%;
    margin: auto;
}
body {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "banner"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
   
}
main {
    grid-area: main;
    background-color:rgba(245, 245, 220, 0.514);
}
/* Inicio */
.hero {
    max-width: auto;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.301),
            rgba(0, 0, 0, 0.13)),
        url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Macondo', cursive;
}
.sectionPrincipal {
    padding-top: 20px;
    padding-bottom: 50px;
    display: grid;
    grid-template-areas:
    "textH2 textH2"
    "articulo1 img1"
    "img2 articulo2"
    "articulo3 img3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    justify-items: center;
    .textH2 {
        grid-area: textH2;
        text-align: center;
        padding-bottom: 25px;
    }
    .articulo1 {
        grid-area: articulo1;
        align-self: center;
        text-align: center;
    } 
    .parrafo {
        padding-top: 20px;
        text-align: center;
    }
    .articulo2 {
        grid-area: articulo2;
        align-self: center;
        text-align: center;
    }
    .articulo3 {
        grid-area: articulo3;
        align-self: center;
        text-align: center;    
        }
    .img1 {
        grid-area: img1;
        justify-self: start;
        width: 100%;
    } 
    .img2 {
        grid-area: img2;
        justify-self: end;
        width: 100%;
    }
    .img3 {
        grid-area: img3;
        justify-self: start;
        width: 100%
    }
}
/* Nosotros */
.heroNosotros {
    max-width: auto;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.301),
            rgba(0, 0, 0, 0.13)),
        url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Macondo', cursive;
}
.sobreNosotros {
    padding-bottom: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pnosotros {
        text-align: center;
    }
}
/* Panificado */
.menuCarta {
    max-width: 500px;
    margin: auto;
    padding: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    .carta {
        border: 1px solid black;
        border-radius: 10px;
    }
}
/* Pasteleria */
.pasteleria {
    display: grid;
    grid-template-areas:
    "pPanificado pPanificado"
    "galeria1 galeria2"
    "galeria3 galeria4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    justify-items: center;
    gap: 30px;
    padding-bottom: 50px;
    .pPanificado {
        grid-area: pPanificado;
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .cardConteiner {
        margin: auto;
        padding: 20px;
        width: 200px;
        height: 350px;
        border: 1px solid black;
        background-color: rgba(255, 166, 0, 0.205);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .pGaleria1 {
        grid-area: galeria1;
    }
    .pGaleria2 {
        grid-area: galeria2;
    }
    .pGaleria3 {
        grid-area: galeria3;
    }
    .pGaleria4 {
        grid-area: galeria4;
    }
}
/* Contacto */
.contacto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Banner */
.bannerContener{
    display: grid;
    grid-template-areas:
    "banner1 banner2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    .banner {
        grid-area: banner;
    }
    .banner1{
        grid-area: banner1;
        width: 100%;
    }
    .banner2 {
        grid-area: banner2;
        width: 100%;
    }
    .bannerImg{
        width: 100%;
        height: auto;
    }
}
/* Animaciones y Transiciones */
.fieldset {
    width: 350px;
    height: 300px;
}
.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}
@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
@keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}
