.conteiner {
    width: 90%;
    margin: auto;
}
main {
    grid-area: main;
    background-color:$bkg-main;
}
//INICIO
.hero {
    max-width: auto;
    height: 80vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.301),
            rgba(0, 0, 0, 0.13)),
        url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: $font-hero;
}
.sectionPrincipal {
    padding-top: 5px;
    padding-bottom: 50px;
    display: grid;
    grid-template-areas:
    "textH2 textH2"
    "articulo1 img1"
    "img2 articulo2"
    "articulo3 img3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    justify-items: center;
}
.textH2 {
    grid-area: textH2;
    text-align: center;
    padding: 50px 0px 25px 0px;
    font-family: $font-hero;
    color: $color-S
}
.articulos {
    align-self: center;
    text-align: center;
    &:hover {
        transform: scale(1.2);
    }
}
.articulo1 {
    grid-area: articulo1;
    @extend .articulos;
    
}
.articulo2 {
    grid-area: articulo2;
    @extend .articulos;
}
.articulo3 {
    grid-area: articulo3;
    @extend .articulos;
}
@mixin lado ($justify) {
    justify-self:$justify;   
}
.imgP {
    width: 100%;
}
.img1 {
    grid-area: img1;
    @extend .imgP;
    @include lado(start)
}
.img2 {
    grid-area: img2;
    @extend .imgP;
    @include lado(end);

}
.img3 {
    grid-area: img3;
    @extend .imgP;
    @include lado(start);
}
.parrafo {
    padding-top: 20px;
    text-align: center;
}
//NOSOTROS
.heroNosotros {
    max-width: auto;
    height: 80vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.301),
            rgba(0, 0, 0, 0.13)),
        url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: $font-hero;
}
.sobreNosotros {
    padding-bottom: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        padding-top: 20px;
    }
    .pnosotros {
         text-align: justify;
     }
}
iframe {
    padding-top: 30px;
    width: 660px;
    height: 415px;
}
//PANIFICADO
.menuCarta {
    max-width: 500px;
    margin: auto;
    padding: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    .carta {
    border: $border-caja;
    border-radius: 10px;
    }
}
//PASTELERIA
.pasteleria {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-areas:
        "card1 card2 card3"
        "card4 card5 card6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    row-gap: 40px;
    justify-items: center;
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.card5 {
    grid-area: card5;
}
.card6 {
    grid-area: card6;
}
.cardPanaderia {
    width: 80%;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    &:hover {
        transform: scale(1.1);
    }
    img {
        width: 100%;
    }
    h3 {
        padding: 10px;
        justify-content: center;
    }
    button {
        padding-bottom:  10px;
        &:hover {
            transform: scale(1.2);
        }
    }
}
//CONTACTO
.contacto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-S;
    .formulario {
        width: 50%;
        text-align: center;
        h1 {
            padding-bottom: 15px;
            font-size: 3em;
        }
    }
}