@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "banner" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr 1fr 1fr;
      grid-template-rows: auto 1fr 1fr 1fr;
}

.conteiner {
  width: 90%;
  margin: auto;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: rgba(245, 245, 220, 0.514);
}

.hero {
  max-width: auto;
  height: 80vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.301)), to(rgba(0, 0, 0, 0.13))), url(../img/img1.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.13)), url(../img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  font-family: "Macondo", cursive;
}

.sectionPrincipal {
  padding-top: 5px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "textH2 textH2" "articulo1 img1" "img2 articulo2" "articulo3 img3";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr 1fr 1fr;
      grid-template-rows: auto 1fr 1fr 1fr;
  justify-items: center;
}

.textH2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textH2;
  text-align: center;
  padding: 50px 0px 25px 0px;
  font-family: "Macondo", cursive;
  color: rgba(0, 0, 0, 0.596);
}

.articulos, .articulo1, .articulo2, .articulo3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.articulos:hover, .articulo1:hover, .articulo2:hover, .articulo3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.articulo1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: articulo1;
}

.articulo2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: articulo2;
}

.articulo3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: articulo3;
}

.imgP, .img1, .img2, .img3 {
  width: 100%;
}

.img1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img1;
  -ms-grid-column-align: start;
      justify-self: start;
}

.img2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.img3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: img3;
  -ms-grid-column-align: start;
      justify-self: start;
}

.parrafo {
  padding-top: 20px;
  text-align: center;
}

.heroNosotros {
  max-width: auto;
  height: 80vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.301)), to(rgba(0, 0, 0, 0.13))), url(../img/img3.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.13)), url(../img/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  font-family: "Macondo", cursive;
}

.sobreNosotros {
  padding-bottom: 25px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobreNosotros h3 {
  padding-top: 20px;
}

.sobreNosotros .pnosotros {
  text-align: justify;
}

iframe {
  padding-top: 30px;
  width: 660px;
  height: 415px;
}

.menuCarta {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.menuCarta .carta {
  border: 1px solid black;
  border-radius: 10px;
}

.pasteleria {
  margin-top: 40px;
  margin-bottom: 40px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "card1 card2 card3" "card4 card5 card6";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
  justify-items: center;
}

.card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
}

.card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
}

.card3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card3;
}

.card4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card4;
}

.card5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card5;
}

.card6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: card6;
}

.cardPanaderia {
  width: 80%;
  padding-bottom: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: beige;
}

.cardPanaderia:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cardPanaderia img {
  width: 100%;
}

.cardPanaderia h3 {
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardPanaderia button {
  padding-bottom: 10px;
}

.cardPanaderia button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contacto {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.596);
}

.contacto .formulario {
  width: 50%;
  text-align: center;
}

.contacto .formulario h1 {
  padding-bottom: 15px;
  font-size: 3em;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

footer p {
  padding: 20px;
  text-align: center;
}

.banner {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: banner;
}

.bannerContener {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "banner1 banner2";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.bannerContener .banner1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner1;
  width: 100%;
}

.bannerContener .banner2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: banner2;
  width: 100%;
}

.bannerContener .bannerImg {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .articuloss:hover, .articulo1:hover, .articulo2:hover, .articulo3:hover {
    -webkit-transform: none;
            transform: none;
  }
  iframe {
    width: 560px;
    height: 315px;
  }
  .pasteleria {
    margin-top: 35px;
    margin-bottom: 35px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "card1 card2"  "card3 card4" "card5 card6";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
  .cardPanaderia:hover {
    -webkit-transform: none;
            transform: none;
  }
  .bannerContener {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "banner1" "banner2";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .contacto {
    height: auto;
  }
  .contacto .formulario {
    width: 100%;
    height: 100%;
  }
  .contacto .formulario h1 {
    font-size: 2.5em;
  }
  .contacto .formulario h3 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  .sectionPrincipal {
    padding-top: 20px;
    padding-bottom: 50px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "textH2" "img1" "articulo1" "img2" "articulo2" "img3" "articulo3";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 15px;
  }
  iframe {
    width: 100%;
  }
  .pasteleria {
    margin-top: 45px;
    margin-bottom: 35px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "card1" "card2"  "card3" "card4" "card5" "card6";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 35px;
  }
  .contacto .formulario {
    padding-top: 25px;
    width: 100%;
    height: 100vh;
  }
  .contacto .formulario h1 {
    font-size: 2em;
  }
  .contacto .formulario h3 {
    font-size: 1.5em;
  }
  .bannerContener {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "banner1" "banner2";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    justify-items: center;
  }
}
/*# sourceMappingURL=style.css.map */