$bkg-main:rgba(245, 245, 220, 0.514);
$border-caja: 1px solid rgb(0, 0, 0);
$font-hero: 'Macondo', cursive;
$font-boby: 'Roboto', sans-serif;
$font-tablet-h1: 2em;
$font-tablet-p: 1.2em;
$color-S: rgba(0, 0, 0, 0.596);