@media screen and (max-width: 800px){

    iframe {
        width: 560px;
        height: 315px;
    }
    .pasteleria {
        margin-top: 35px;
        margin-bottom: 35px;
        display: grid;
        grid-template-areas:
            "card1 card2" 
            "card3 ard4"
            "card5 card6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
    .bannerContener{
        display: grid;
        grid-template-areas:
        "banner1"
        "banner2";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .contacto {
        height: auto;
        .formulario {
            width: 100%;
            height: 100%;
            h1 {
                font-size: 2.5em;
            }
            h3{
                font-size: 1.8em;
            }
        }
    }
}

@media screen and (max-width: 480px){

    .sectionPrincipal {
        padding-top: 20px;
        padding-bottom: 50px;
        display: grid;
        grid-template-areas:
            "textH2"
            "img1"
            "articulo1"
            "img2"
            "articulo2"
            "img3"
            "articulo3";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 15px;
    }
    .textH2 {
        font-size: 0.8em;
    }
    iframe {
        width: 100%;
    }
    .bannerContener{
        display: grid;
        grid-template-areas:
        "banner1"
        "banner2";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }
    .pasteleria {
        margin-top: 45px;
        margin-bottom: 35px;
        display: grid;
        grid-template-areas:
            "card1"
            "card2" 
            "card3"
            "Card4"
            "card5"
            "card6";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 35px;
    }
    .contacto {
        .formulario {
            width: 100%;
            height: 100%;
            h1 {
                font-size: 2em;
            }
            h3{
                font-size: 1.5em;
            }
        }
    }

}