@media screen and (max-width: 800px){

    .articuloss {
        &:hover {
            transform: none;
        }
    }
    .articulo1 {
        @extend .articuloss;
    }
    .articulo2 {
        @extend .articuloss;
    }
    .articulo3 {
        @extend .articuloss;
    }
    iframe {
        width: 560px;
        height: 315px;
    }
    .pasteleria {
        margin-top: 35px;
        margin-bottom: 35px;
        display: grid;
        grid-template-areas:
            "tituloP tituloP"
            "card1 card2" 
            "card3 card4"
            "card5 card6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 30px;
        .tituloP {
            font-size: $font-tablet-h1;
            text-align: center;
        }
        h3 {
            font-size: 1.4em;
        }
    }
    .cardPanaderia {
        &:hover {
            transform: none;
        }
    }
    .bannerContener{
        display: grid;
        grid-template-areas:
        "banner1"
        "banner2";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .contacto {
        padding-top: 20%;
        .formulario {
            margin-top: 50px;
            width: 100%;
            height: 100%;
            h1 {
                font-size: $font-tablet-h1;
            }
            h3{
                font-size: 1.8em;
            }
        }
    }
}

@media screen and (max-width: 480px){

    h1 {
            font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }    
    .sectionPrincipal {
        padding-top: 20px;
        padding-bottom: 50px;
        display: grid;
        grid-template-areas:
            "textH2"
            "img1"
            "articulo1"
            "img2"
            "articulo2"
            "img3"
            "articulo3";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 15px;
    }
    iframe {
        width: 100%;
    }
    .pasteleria {
        margin-top: 45px;
        margin-bottom: 35px;
        display: grid;
        grid-template-areas:
            "tituloP"
            "card1"
            "card2" 
            "card3"
            "card4"
            "card5"
            "card6";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 35px;
    }
    .contacto {
        .formulario {
            padding-top: 25px;
            width: 100%;
            height: 100vh;
            h1 {
                font-size: 2em;
            }
            h3{
                font-size: 1.5em;
            }
        }
    }
    .bannerContener{
        display: grid;
        grid-template-areas:
        "banner1"
        "banner2";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }
}